bson==0.5.6
cffi==1.11.5
click==6.7
Flask==1.0.2
Flask-Cors==3.0.6
Flask-PyMongo==2.1.0
Flask-SocketIO==3.0.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pycparser==2.18
pymongo==3.7.1
python-dateutil==2.7.3
python-engineio==2.2.0
python-socketio==2.0.0
six==1.11.0
Werkzeug==0.14.1
gunicorn==19.9.0
